<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>train 예약해주세요</title>
</head>
<body>

<h1>Train Information</h1>

<form id="trainForm">
    <label for="trainNumber">열차 번호:</label>
    <select id="trainNumber" name="trainNumber">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>

    <label for="departure">출발지:</label>
    <select id="departure" name="departure">
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="춘천">춘천</option>
        <option value="속초">속초</option>
        <option value="부산">부산</option>
    </select><br>

    <label for="destination">목적지:</label>
    <select id="destination" name="destination">
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="춘천">춘천</option>
        <option value="속초">속초</option>
        <option value="부산">부산</option>
    </select><br>

    <label for="departureTime">출발 시간:</label>
    <input type="time" id="departureTime" name="departureTime" required><br>

    <label for="arrivalTime">도착 시간:</label>
    <input type="time" id="arrivalTime" name="arrivalTime" required><br>

    <input type="button" value="예약" onclick="addRowAndNavigate()">
</form>


<script>
    function addRowAndNavigate() {
        var trainNumber = document.getElementById("trainNumber").value;
        var departure = document.getElementById("departure").value;
        var destination = document.getElementById("destination").value;
        var departureTime = document.getElementById("departureTime").value;
        var arrivalTime = document.getElementById("arrivalTime").value;

        // Create an object to hold reservation information
        var reservationInfo = {
            trainNumber: trainNumber,
            departure: departure,
            destination: destination,
            departureTime: departureTime,
            arrivalTime: arrivalTime
        };

        // Store the reservation information in localStorage
        localStorage.setItem('reservationInfo', JSON.stringify(reservationInfo));

        // Redirect to examplee.html
        window.location.href = "KTX_List";
    }
</script>

</body>
</html>