<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>train 예약해주세요</title>
    <style>
        * {
            margin: 0; padding: 0;
            font-family: "Times New Roman", serif;
        }

        .navbar {
            z-index: 1000;
        }

        .navbar-nav {
            display: flex;
            justify-content: flex-end;
        }
        .wapper {
            text-decoration-line: none;
            padding:20px;
            margin: 80px;
            text-align: center;
            font-size: 20px;
            color: black;
        }
        .button {
        background-color:#3498db;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark fixed-top navbar-expand-lg" style="background-color: #2980b9;">
    <div class="container">
        <a class="navbar-brand" href="KTX_Reservation">RESERVAION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="collapse navbar-collapse" id="navbar-content"></span>
        </button>
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav navbar-nav ms-auto">
            </ul>
            <ul class="navbar-nav">
                <div th:text="${userName}+'님 환영합니다!'"></div>
                <li class="nav-item"><a class="nav-link " href="KTX_List">예약현황</a></li>
                <li class="nav-item"><a class="nav-link " href="KTX_article">고객센터</a></li>
            </ul>

        </div>
    </div>
</div>


<div class="wapper">
<form id="trainForm">
    <label for="trainNumber">열차 번호:</label>
    <select id="trainNumber" name="trainNumber">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>

    <label for="departure">출발지:</label>
    <select id="departure" name="departure">
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="춘천">춘천</option>
        <option value="속초">속초</option>
        <option value="부산">부산</option>
    </select><br>

    <label for="destination">목적지:</label>
    <select id="destination" name="destination">
        <option value="서울">서울</option>
        <option value="인천">인천</option>
        <option value="춘천">춘천</option>
        <option value="속초">속초</option>
        <option value="부산">부산</option>
    </select><br>

    <label for="tion">출발시간~도착시간:</label>
    <select id="tion" name="destination">
        <option value="10:00,11:00">10:00~11:00</option>
        <option value="11:00,12:00">11:00~12:00</option>
        <option value="12:00,13:00">12:00~13:00</option>
        <option value="13:00,14:00">13:00~14:00</option>
        <option value="14:00,15:00">14:00~15:00</option>
    </select><br>
    <input type="button" value="예약" onclick="addRowAndNavigate()">
</form>
</div>


<script>
    function addRowAndNavigate() {
    var trainNumber = document.getElementById("trainNumber").value;
    var departure = document.getElementById("departure").value;
    var destination = document.getElementById("destination").value;
    var tion = document.getElementById("tion").value;

    var [startTime, endTime] = tion.split(',');

    var reservationData = {
        tnumber: trainNumber,
        departureLocation: departure,
        destinationLocation: destination,
        departureTime: startTime,
        arrivalTime: endTime
    };

    fetch('/api/reservations', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(reservationData)
    })
    .then(() => {
        alert('예약 완료');
        location.replace('/KTX_List');
    })
    .catch(error => {
        console.error('예약 중 오류가 발생했습니다:', error);
        // 오류 처리 추가
    });
}


</script>

</body>
</html>