<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KTX 예약 시스템</title>

</head>
<body>
<header>
    <!-- 로그인 버튼 -->
    <a href="/KTX_Login" class="btn btn-primary"  style="background-color: #333;">로그인</a>

    <!-- 회원가입 버튼 -->
    <a href="/KTX_SignUp" class="btn btn-primary" style="background-color: #333;">회원가입</a>
</header>

<main>
    <!-- 예약 폼 또는 예약 관련 컨텐츠 -->
    <button href="/Reservation" class="btn btn-primary"  style="background-color: #333;">예약</button>
    <!-- 여기에 예약 시스템과 관련된 내용을 추가하세요 -->
</main>

<footer>
    <!-- 페이지 하단 내용 -->
</footer>
</body>
</html>