<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KTX List</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>열차 번호</th>
        <th>출발지</th>
        <th>목적지</th>
        <th>출발 시간</th>
        <th>도착 시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="train : ${trains}">
        <td th:text="${train.tnumber}"></td>
        <td th:text="${train.departure}"></td>
        <td th:text="${train.destination}"></td>
        <td th:text="${train.departureTime}"></td>
        <td th:text="${train.arrivalTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>